pre ol {
	margin: 0;}
pre li {
	color: #999 !important;
	font-style: italic;
	margin: 0 !important;
	padding: 5px 3px;}
pre li.odd {
	background: #eaeaea;}
pre li.even {
	background: #fafafa;}
pre p {
	color: #333 !important;
	font-style: normal;
	margin: 0 !important;
	white-space: pre;}