body {
  background: url("/image/cream-dust.png") #fafafa;
  color: #081118;
  font-family: Molengo, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 15px;}
.portfolio-container a {
  color: #7b9465;
  text-decoration: none;}
.portfolio-container a:hover {
  border-bottom: 1px solid;
  color: #9abca4;}

.portfolio-container {
  margin: 0 auto;
  width: 850px;}

.portfolio-container .header {
  border-bottom: 1px solid black;
  padding: 30px 5px 5px;}
.portfolio-container .header h3 {
  float: left;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;}
.portfolio-container .header h3 a {
  color: inherit;}
.portfolio-container .header h3 a:hover {
  border-bottom: none;
  color: inherit;}
.portfolio-container .header ul {
  float: right;
  margin: 0;
  padding: 7px 0 0;}
.portfolio-container .header li {
  display: inline;
  padding: 0 0 0 10px;}
.portfolio-container .header::after {
  clear: both;
  content: " ";
  display: block;}

.portfolio-container .window {
  line-height: 1.5em;
  padding-top: 80px;}
.portfolio-container .window::after {
  clear: both;
  content: ' ';
  display: block;}
.portfolio-container .window h1 {
  color: #14414f;
  font-size: 3.7em;
  font-weight: normal;
  line-height: .8em;
  margin: 0;
  padding: 0;}

.portfolio-container .contact {
  float: left;
  width: 500px;}
.portfolio-container .contact p {
  margin-top: 20px;}
.portfolio-container .contact form {
  margin: 20px 5px 0;}
.portfolio-container .contact li {
  margin-top: 15px;}
.portfolio-container .contact li:first-child {
  margin-top: 0;}
.portfolio-container .contact label {
  display: block;
  width: 250px;}
.portfolio-container .contact input,
.portfolio-container .contact textarea {
  border: 1px #9abca4 solid;
  font-size: 1.2em;
  padding: 2px 2px 0;}
.portfolio-container .contact .error input,
.portfolio-container .contact .error textarea {
  border-color: #c22e54;}
.portfolio-container .contact input {
  width: 250px;}
.portfolio-container .contact textarea {
  height: 80px;
  width: 400px;}
.portfolio-container .contact input[type="submit"] {
  background-color: #9abca4;
  color: white;
  font-size: 1.5em;
  padding: 10px 60px;
  width: auto;}
.portfolio-container .contact input[type="submit"]:hover {
  background-color: #7b9465;}
.portfolio-container .contact .success-message {
  font-size: 1.1em;
  margin-bottom: 20px;
  padding: 2px 5px;}
.portfolio-container .contact .error-message {
  color: #c22e54;
  float: right;
  font-size: .9em;
  text-align: right;}

.portfolio-container .sidebar {
  background: #e0e0e0;
  margin: 50px 0 0 550px;
  padding: 30px 20px 10px}
.portfolio-container .sidebar h3 {
  font-size: 1.5em;}
.portfolio-container .sidebar p {
  font-size: .9em;
  margin-top: 15px;}
.portfolio-container .sidebar ul {
  list-style: inherit;
  margin: 10px 5px;
  padding-left: 15px;}
.portfolio-container .sidebar a .description {
  font-size: .8em;
  font-style: italic;}

#footer {
  color: #1f1b29;
  margin: 50px 0 100px;
  padding-left: 200px;
  text-align: center;
  width: 650px;}
#footer p {
  border-top: 1px solid;
  padding-top: 10px;}
#footer ul {
  margin-top: 8px;}
#footer li {
  display: inline-block;
  margin: 0 10px;}
