<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A0

  <FilesMatch "\.(css|gif|ico|jpeg)$">
  ExpiresDefault A604800
  </FilesMatch>

  <FilesMatch "\.xml$">
  ExpiresDefault A3600
  </FilesMatch>
</IfModule>

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
