<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A0

  <FilesMatch "\.(css|ico)$">
  ExpiresDefault A604800
  </FilesMatch>

  <FilesMatch "\.xml$">
  ExpiresDefault A3600
  </FilesMatch>
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
