<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A0

  <FilesMatch "\.(css|ico)$">
  ExpiresDefault A604800
  </FilesMatch>

  <FilesMatch "\.xml$">
  ExpiresDefault A3600
  </FilesMatch>
</IfModule>

RewriteEngine on

RewriteRule ^(.*)/index\.(php|html?)$ /$1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)([^/])$ /$1$2/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
